<div class="card-container">
  <p-card
    *ngFor="let mood of moods"
    header="{{ mood.mood_name }}"
    [style]="{ width: '360px' }"
  >
    <ng-template pTemplate="header">
      <img alt="Card" [src]="mood.mood_img" />
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        <p-button
          rounded
          severity="success"
          label="My mood"
          [routerLink]="['/mood', mood.id]"
          class="w-full"
          styleClass="w-full"
        />
      </div>
    </ng-template>
  </p-card>
</div>
