<div class="title">
  <h1>Positive MoodWall</h1>
  <p-button rounded (click)="showDialog()" label="Ecrire sur le mur" />
</div>
<div class="card flex justify-content-center">
  <p-dialog
    header="Votre pensée positive "
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
  >
    <form
      #contactForm="ngForm"
      (ngSubmit)="onSubmit(contactForm)"
      class="activity-form"
    >
      <div class="card flex justify-content-center">
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          [(ngModel)]="value"
          name="message"
          required
        ></textarea>
      </div>
      <p-toast />
      <p-button type="submit" rounded label="Partagez"></p-button>
    </form>
  </p-dialog>
</div>

<div class="contacts-list" style="position: relative; height: 3000px">
  <ul>
    <li *ngFor="let contact of contacts" [ngStyle]="getRandomStyle()">
      {{ contact.contact_text }}
    </li>
  </ul>
</div>
