<h1>My Mood</h1>
<div class="details-mood-container">
  <p-card header="{{ mood.mood_name }}" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <img alt="Card" [src]="mood.mood_img" />
    </ng-template>
    <div *ngIf="displayQuotation">
      <h3>Citation aléatoire</h3>
      <p>{{ quotation.quotation_text }}</p>
      <p>{{ quotation.quotation_author }}</p>
    </div>
    <div *ngIf="!displayQuotation && joke">
      <h3>Joke aléatoire</h3>
      <p>{{ joke.joke_text }}</p>
    </div>
    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        <p-button
          rounded
          severity="success"
          label="One more"
          (click)="loadAnotherRandomQuotation()"
          class="w-full"
          styleClass="w-full"
        />
        <p-button
          rounded
          severity="success"
          label="A joke"
          (click)="loadAnotherRandomJoke()"
          class="w-full"
          styleClass="w-full"
        />
      </div>
    </ng-template>
  </p-card>
</div>
